
<h1> Welcome to Rainforest </h1>
<p>-Here you can check price list of some stuff and review them</p>
<p>-New to Rainforst ? Go ahead its a quick Free Signup</p>
<p>-Returning user - Welcome back :) - Please Log in </p>

